# Ideas
.vscode
.idea
*.iml

# App
.env
.npmrc
coverage
dump
dist
node_modules
reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.tsbuildinfo
*.lcov
.nyc_output
iac/**/**.json
.scannerwork
test-report.xml
.clinic
*.log

# general files
.DS_Store
pacts

# Optional npmrc file with access token to the cox artifactory
.npmrc
